
</div>
</section>
<footer>
   <section class="legalJazz row">
      <div class="small-12 columns">
         <p>This site is copyright 2016 by Andrew Eakett</p>
         <p>This work is based on the Dread roleplaying game, written by Epidiah Ravachol, published by The Impossible Dream, and licensed for our use under the <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/">Creative Commons Attribution-NonCommercial-ShareAlike License</a>.</p>
      </div>
   </section>

   <div id="questionTickerBorder"></div>
   <div id="questionTickerContainer">
      <div id="questionTicker">
         <ul>
            <li>What could you have done to save your brother’s life?</li>
            <li>What book do you read every year on the anniversary of your father’s death?</li>
            <li>Why are you the black sheep of your family?</li>
            <li>What complicated dish has become your trademark?</li>
            <li>What was the first thing you ever stole?</li>
            <li>When was the most inappropriate time that you’ve broken out in laughter?</li>
            <li>Why don’t you visit museums any more?</li>
            <li>What was the last fad you embraced?</li>
            <li>You are legendary for what feat that you never actually performed?</li>
            <li>What was the last bumper sticker you bought?</li>
            <li>Why did you save the old woman instead of the child?</li>
            <li>What cliché do you hate to see in movies?</li>
            <li>What injury of yours has never healed quite right?</li>
            <li>What is your best memory from college?</li>
            <li>What have you been meaning to do for months, but never gotten around to?</li>
            <li>How many times have you failed the bar exam?</li>
            <li>At which game did you consistently beat your siblings?</li>
            <li>How did you discover you were a werewolf?</li>
            <li>When you were laid off, what skills did you use to make ends meet?</li>
            <li>What won’t you even try to do because you’re certain you will fail?</li>
            <li>What did the witch woman tell your mother the day you were born?</li>
            <li>Why does your little sister follow you wherever you go?</li>
            <li>Which of the other characters do you feel you can trust with your secret, and why haven’t you told them yet?</li>
            <li>Why have you forgiven the man who tried to flay your son alive?</li>
            <li>When the world seems against you, what one thing keeps you going?</li>
            <li>Among your many trophies and awards, which is the one you feel you actually earned?</li>
            <li>How did you survive your personal discovery that vampires are real?</li>
            <li>Why are you nervous whenever you are alone?</li>
            <li>What do people automatically assume about you, and how are they often wrong?</li>
            <li>If you don’t pay off this debt soon, what do you expect to happen?</li>
            <li>Who among the other characters makes you nervous and why?</li>
            <li>As a child, what helped you through all those nights alone?</li>
            <li>What do you own only because of how it makes others think of you?</li>
            <li>Why did you wear turtlenecks for a week last July?</li>
            <li>What is the only memento you have still kept from your childhood?</li>
            <li>What do you keep doing during interviews that you fear will prolong your unemployed status?</li>
            <li>What did your last few breakups have in common?</li>
            <li>Why do you feel like you’re not living up to the expectations that come with carrying your grandfather’s sword?</li>
            <li>What is your favorite game?</li>
            <li>Despite your new lifestyle, what “guilty pleasure” from your past do you still allow yourself?</li>
            <li>What one thing do you hope your boss never finds out about?</li>
            <li>Why haven’t you spoken to your mother in 5 years, despite the fact that she leaves you a message nearly every night?</li>
            <li>Why have you still not eaten the cake the Welcome Wagon brought over when you moved into the neighborhood?</li>
            <li>Despite working in a white-collar office, why do you insist on wearing steel-toed shoes?</li>
            <li>Why do you have a picture of someone you’ve never met in your wallet?</li>
            <li>What song always makes you think of your childhood?</li>
            <li>What is that thing, and why haven’t you thrown it away yet?</li>
            <li>How did you make it through medical school despite the fact that you are incredibly squeamish?</li>
            <li>What important thing did you learn in law school that was never featured in any of your classes?</li>
            <li>Why are you proud of your vocation, despite its lowly status?</li>
            <li>What nationality won’t you admit to being descended from and why?</li>
            <li>What alternative was so gruesome that you chose to engage in self-cannibalism instead?</li>
            <li>In your travels, you have learned to speak which three languages?</li>
            <li>When you last cleaned out your attic, what couldn’t you bear to throw out?</li>
            <li>What nickname has stuck with you since childhood despite your best efforts to erase it?</li>
            <li>How can you stand there and act so proud of yourself after what you did to your mother?</li>
            <li>What ultra-geeky handle do you use online?</li>
            <li>What tool of your trade are you never without?</li>
            <li>What are you recovering from and why do you think it is taking so long?</li>
            <li>Why are you always picked first when teams are chosen?</li>
            <li>What were you doing when you got that stain?</li>
            <li>What was the worst thing you ever did as an interrogator for the junta?</li>
            <li>Why do you take the train that gets you to work 5 minutes late?</li>
            <li>Who suffers every time you invoke a spell?</li>
            <li>Where were you when you learned your spouse was cheating on you?</li>
            <li>Who didn’t come to your wedding, that you specifically missed?</li>
            <li>What was your favorite toy as a child, and why do you still carry it around?</li>
            <li>How old were you when you realized you could predict horse races consistently?</li>
            <li>How did your father die in front of you?</li>
            <li>Why did you give up your dreams of becoming an actor?</li>
            <li>Why do you refuse to touch scissors anymore?</li>
            <li>Why do you lie about the value of your house?</li>
            <li>Why will you never go swimming again?</li>
            <li>Where do you hide things you don’t want anyone to find?</li>
            <li>What is the one bad habit you just can’t break?</li>
            <li>Why haven’t you scattered your sister’s ashes yet?</li>
            <li>What is your good luck charm, and how has it saved your life?</li>
            <li>Why do you go to art museums, despite the fact that you don’t enjoy art?</li>
            <li>What ongoing project of yours never quite gets finished?</li>
            <li>Why do you regret quitting your last job?</li>
            <li>What have you wanted to say to your door neighbor since he moved in, but haven’t?</li>
            <li>Why do you fear for your life every day that you are in the Caliph’s court?</li>
            <li>Why are you the first one people turn to in a crisis?</li>
            <li>Why has your life not been the same since you escaped from the Big Bad Wolf?</li>
            <li>What one day-to-day task do you loathe?</li>
            <li>What does it feel like to be powered down?</li>
            <li>Why did you build your cottage so far away from the town’s well?</li>
            <li>Why don’t you replace those uncomfortable chairs?</li>
            <li>Even though your broken leg healed, what activity haven’t you taken up again?</li>
            <li>Who forgave you right before they died?</li>
            <li>What do you have hidden underneath your bed?</li>
            <li>How long have you been driving illegally since your license was suspended?</li>
            <li>You’ve battled your alcoholism fairly successfully over the years; why did you have a drink last week?</li>
            <li>Why do you feel your last promotion should have gone to someone else?</li>
            <li>How did you get your nickname?</li>
            <li>Who do you look forward to seeing the most at your high school reunions?</li>
            <li>What is still packed in boxes even though you’ve been “moved in” for a year?</li>
            <li>What nickname do you give people instead of your given name?</li>
            <li>What do you store in the fridge that most people wouldn’t?</li>
            <li>What photograph do you keep despite the fact that you can never display it?</li>
            <li>Who do you respect yet actively strive to distance yourself from?</li>
            <li>Which field of study was your favorite in college, and why didn’t you get your degree in it?</li>
            <li>What musical instrument do you regret never learning to play?</li>
            <li>What do you feel people notice first about you and how do you de-emphasize it?</li>
            <li>How often do you make something up rather than respond “I don’t know” to a question?</li>
            <li>What are you planning on doing for income if your business fails?</li>
            <li>What does your fiancé call you in bed?</li>
            <li>On what bill are you several months delinquent?</li>
            <li>Who did you see at the supermarket last week, despite having attended their funeral several years ago?</li>
            <li>When did you first get the feeling that there was something slightly strange about the world that no one else noticed?</li>
            <li>What do you have over 2000 of?</li>
            <li>How are you working to undermine the young king, despite having publicly sworn fealty to him?</li>
            <li>Why were you named after your cousin instead of after your grandmother?</li>
            <li>How did you manage to get an officer’s commission during the war without ever seeing combat?</li>
            <li>In all of your years on the bench, what is the worst trial you’ve presided over?</li>
            <li>Why are you planning to leave the country as soon as you can after the Emperor dies?</li>
            <li>What are you never without a mug of?</li>
            <li>Whose face keeps you awake at night?</li>
            <li>Why do you only date people you meet online?</li>
            <li>Why have you signed on for this mission, despite not having the recommended qualifications?</li>
            <li>What other superhero do you try most to emulate?</li>
            <li>Despite generally being a pacifist, what situation always leads you to violence?</li>
            <li>What have you done to cope with your speech impediment?</li>
            <li>What trick do you use to make strangers comfortable around you?</li>
            <li>Why were you pushing to have your uncle sign a Do Not Resuscitate order?</li>
            <li>As the years have gone by, you only had one reminder left of your life before the Big Death. What did you trade it for last week?</li>
            <li>How might your life be different if you hadn’t driven off in a rage that night?</li>
            <li>Why don’t you date women any more?</li>
            <li>What happened in your childhood that now makes you hate it when people whisper?</li>
            <li>Why do strangers often feel compelled to tell you the intimate details of their lives?</li>
            <li>Why do you think you have such control issues?</li>
            <li>And what is the real reason?</li>
            <li>When you made the pact, you fully understood what it meant, but what has happened since that has made you regret it?</li>
            <li>Which little-known actor was the first real ghost you ever saw?</li>
            <li>If the headaches are getting so bad, why won’t you see a doctor?</li>
            <li>What talent do you have that you rarely get to use in your chosen profession?</li>
            <li>What made you think you could ever get away with it, and how in the world did you?</li>
            <li>How does your faith give you strength?</li>
            <li>In what odd way do you react to rising tensions?</li>
            <li>How are you feeling today?</li>
            <li>How has your attention to detail saved your life?</li>
            <li>Why are you rarely bothered by the things that frustrate most other people?</li>
            <li>What is the most important lesson being a single parent has taught you?</li>
            <li>What addiction do you hide from your friends?</li>
            <li>How did your handyman skills help when you started performing exorcisms?</li>
            <li>What is your middle name?</li>
            <li>Why do your companions find you indispensable, and how are they wrong?</li>
            <li>Why have you begun to question your faith?</li>
            <li>How did you win the only brawl you have ever been in?</li>
            <li>In what way do you treat Texans differently than everyone else?</li>
            <li>What did you build that earned the respect of your friends and neighbors?</li>
            <li>How did the bullet hole in your window frame change your life?</li>
            <li>When all else is quiet, how do you silence the screaming in your head?</li>
            <li>How did you find your way home, the last time you were lost?</li>
            <li>When was the last time that you cried?</li>
            <li>What is the worst thing you did for money?</li>
            <li>How did you earn your adult name?</li>
            <li>In what ways has life gotten easier now that you are older?</li>
            <li>Because of what medical condition were you unable to participate in sports as a child?</li>
            <li>What did you inherit from your father that you never thought that you would use?</li>
            <li>Why is that blue stone so special to you?</li>
            <li>What is the only thing that helps with those headaches?</li>
            <li>Why have you lost your enthusiasm for protests?</li>
            <li>Why do you stay up so late, despite your early work schedule?</li>
            <li>Where do you go when it all goes wrong?</li>
            <li>What lies in Witch’s Valley that scares you so?</li>
            <li>Why are you still jealous of your siblings?</li>
            <li>Despite not even owning a television, what program do you try to watch as often as you can?</li>
            <li>What is the most surprisingly-useful purchase you have made?</li>
            <li>Why don’t you swear to God anymore?</li>
            <li>What medical condition are you afraid you’ve inherited from your mother?</li>
            <li>Why did you lie about your father’s job at the neighborhood Christmas party?</li>
            <li>You always wanted to be a fire fighter; what changed your mind?</li>
            <li>Why do you prefer long, boring voyages, awake and alone, to suspended animation?</li>
            <li>Why have you given up even trying to persuade people that you can see the future?</li>
            <li>How do you respond when people assume you are knowledgeable about something you don’t know anything about?</li>
            <li>As a warrior in your tribe, you have taken what god’s name?</li>
            <li>You’re not a vegetarian, so why don’t you eat chicken?</li>
            <li>Why did your parents have to take away your kitten when you were young?</li>
            <li>What feat have you never been able to reproduce?</li>
            <li>Despite being allergic to it, what food can you just not stay away from?</li>
            <li>When was the only time you’ve ever fired a gun?</li>
            <li>What relaxation technique do you use when things become too much to bear?</li>
            <li>What one sci-fi technology do you wish was real?</li>
            <li>How did your aunt die of food poisoning, and why did you escape the same fate?</li>
            <li>How did you earn a nemesis in your line of work?</li>
            <li>Who do you miss the most from your previous job?</li>
            <li>Which loved one was the first zombie you ever killed?</li>
            <li>What wrong name do people constantly address you by?</li>
         </ul>
      </div>
   </div>
</footer>
