<div class="off-canvas-wrap" data-offcanvas>
   <div class="inner-wrap">
      <nav class="tab-bar">
         <section class="left-small">
            <a class="left-off-canvas-toggle" href="#"><!--<img src="img/menu-hand.png" />--></a>
         </section>

         <section class="middle tab-bar-section">
            <span style="font-family: granny; font-size: 150%;">The&nbsp;Unofficial&nbsp;Dread&nbsp;SRD</h4>
         </section>
      </nav>
      <noscript>
         <nav class="noscriptNav">
            <a href="index.htm">Home</a> : <a href="chapter1.htm">Chapter&nbsp;1</a> : <a href="chapter2.htm">Chapter&nbsp;2</a> : <a href="chapter3.htm">Chapter&nbsp;3</a> : <a href="chapter4.htm">Chapter&nbsp;4</a> : <a href="chapter5.htm">Chapter&nbsp;5</a> : <a href="chapter6.htm">Chapter&nbsp;6</a> : <a href="chapter7.htm">Chapter&nbsp;7</a> : <a href="chapter8.htm">Chapter&nbsp;8</a> : <a href="chapter9.htm">Chapter&nbsp;9</a> : <a href="chapter10.htm">Chapter&nbsp;10</a> : <a href="chapter11.htm">Chapter&nbsp;11</a> : <a href="appendix.htm">Appendix</a> : <a href="dreadStories.htm">Dread&nbsp;Stories</a> : <a href="beneathTheFullMoon.htm">Beneath&nbsp;The&nbsp;Full&nbsp;Moon</a> : <a href="beneathAMetalSky.htm">Beneath&nbsp;A&nbsp;Metal&nbsp;Sky</a> : <a href="beneathTheMask.htm">Beneath&nbsp;The&nbsp;Mask</a>
         </nav>
      </noscript>
      <aside class="left-off-canvas-menu">
         <ul class="navList">
            <li><a href="/dread_srd/"><img src="img/home.svg" width="15" style="padding-bottom: 3px;"> Home</a></li>
            <li><a href="chapter1.htm">Chapter&nbsp;1</a></li>
            <li><a href="chapter2.htm">Chapter&nbsp;2</a></li>
            <li><a href="chapter3.htm">Chapter&nbsp;3</a></li>
            <li><a href="chapter4.htm">Chapter&nbsp;4</a></li>
            <li><a href="chapter5.htm">Chapter&nbsp;5</a></li>
            <li><a href="chapter6.htm">Chapter&nbsp;6</a></li>
            <li><a href="chapter7.htm">Chapter&nbsp;7</a></li>
            <li><a href="chapter8.htm">Chapter&nbsp;8</a></li>
            <li><a href="chapter9.htm">Chapter&nbsp;9</a></li>
            <li><a href="chapter10.htm">Chapter&nbsp;10</a></li>
            <li><a href="chapter11.htm">Chapter&nbsp;11</a></li>
            <li><a href="appendix.htm">Appendix</a></li>
            <li><a href="dreadStories.htm">Dread&nbsp;Stories</a></li>
            <li><a href="beneathTheFullMoon.htm">Beneath&nbsp;The&nbsp;Full&nbsp;Moon</a></li>
            <li><a href="beneathAMetalSky.htm">Beneath&nbsp;A&nbsp;Metal&nbsp;Sky</a></li>
            <li><a href="beneathTheMask.htm">Beneath&nbsp;The&nbsp;Mask</a></li>
         </ul>
      </aside>

<!-- ----------------------------------------------------- -->
<section class="content row">
<div class="small-12 columns">
