<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
   <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

   <link rel="stylesheet" href="{{ "/css/app.css" | prepend: site.baseurl }}">
	<script src="{{ "/js/modernizr.js" | prepend: site.baseurl }}"></script>
   <link rel="canonical" href="{{ page.url | replace:'index.htm','' | prepend: site.baseurl | prepend: site.url }}">
  
   <link rel="icon" href="{{ "/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon">
   <!-- For non-Retina (@1× display) iPhone, iPod Touch, and Android 2.1+ devices: -->
   <link rel="apple-touch-icon-precomposed" href="{{ "/apple-touch-icon-precomposed.png" | prepend: site.baseurl }}"><!-- 57×57px -->
   <!-- For the iPad mini and the first- and second-generation iPad (@1× display) on iOS ≤ 6: -->
   <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ "/apple-touch-icon-72x72-precomposed.png" | prepend: site.baseurl }}">
   <!-- For the iPad mini and the first- and second-generation iPad (@1× display) on iOS ≥ 7: -->
   <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ "/apple-touch-icon-76x76-precomposed.png" | prepend: site.baseurl }}">
   <!-- For iPhone with @2× display running iOS ≤ 6: -->
   <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ "/apple-touch-icon-114x114-precomposed.png" | prepend: site.baseurl }}">
   <!-- For iPhone with @2× display running iOS ≥ 7: -->
   <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ "/apple-touch-icon-120x120-precomposed.png" | prepend: site.baseurl }}">
   <!-- For iPad with @2× display running iOS ≤ 6: -->
   <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ "/apple-touch-icon-144x144-precomposed.png" | prepend: site.baseurl }}">
   <!-- For iPad with @2× display running iOS ≥ 7: -->
   <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ "/apple-touch-icon-152x152-precomposed.png" | prepend: site.baseurl }}">
   <!-- For iPhone 6 Plus with @3× display: -->
   <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ "/apple-touch-icon-180x180-precomposed.png" | prepend: site.baseurl }}">
   <!-- For Chrome for Android: -->
   <link rel="icon" sizes="192x192" href="{{ "/touch-icon-192x192.png" | prepend: site.baseurl }}">

	<meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ site.baseurl }}{{ page.url }}">
	<meta property="og:image" content="{{ "/touch-icon-192x192.png" | prepend: site.baseurl }}">

</head>
