/* put your styles here */

$dreadRed: #730101;

@font-face {
   font-family: 'attic';
   src: url('fonts/attic/attic-webfont.woff2') format('woff2'),
        url('fonts/attic/attic-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

.content {
   background-color: #fff;
}

body {
   font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
}

.dread, .introFlav, .answer {
   font-style: italic;
}

.question {
   font-weight: bold;
}

h1, h2, h3 {
   font-family: attic, serif;
}

a, a:hover {
   color: $dreadRed;
}

a:hover {
   text-decoration: underline;
}

/*#questionTickerBorder {
   width: 100%;
   background-image: linear-gradient(to bottom,rgba(55,15,15,0.3),transparent);
   height: 0.5em;
   top: 3em;
}*/

#questionTickerContainer {
   position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
	background: #fff;
   border-width: 3px 0 0 0;
   border-style: solid;
	border-image-source: linear-gradient(to bottom,rgba(55,15,15,0.3),transparent) 
	ul {
      text-align: center;
		background-color: #f06;
		width: 100%;
		font-style: italic;
	}
}
