/* put your styles here */

$dreadRed: #730101;
$sidebarPercentage: .85rem;

@font-face {
   font-family: 'granny';
   src: url('fonts/granny/granny.woff2') format('woff2'),
        url('fonts/granny/granny.woff') format('woff');
}

@font-face {
   font-family: 'granny';
   src: url('fonts/granny/granny-i.woff2') format('woff2'),
        url('fonts/granny/granny-i.woff') format('woff');
   font-style: italic;
}

.content {
   background-color: #fff;
}

.flesh {border-left: 1px solid #000;}
.marrow {
   border-style: solid;
   border-width: 85px 85px 86px;
   -moz-border-image: url(img/border.png) 85 85 86 repeat;
   -webkit-border-image: url(img/border.png) 85 85 86 repeat;
   -o-border-image: url(img/border.png) 85 85 86 repeat;
   border-image: url(img/border.png) 85 85 86 fill repeat;
}
.flesh, .marrow {
   width: 50%;
   float: right;
   padding-left: 1em;
   margin-left: 1em;
   p, li {
      font-size: $sidebarPercentage;
   }
   h2 {
      font-size: $sidebarPercentage*2.3125;
      text-align: right;
   }
}

.example {
   border-left: 1px solid #000;
   border-right: 1px solid #000;
   padding-left: 1em;
   padding-right: 1em;
}

/*body {
   font-family: Constantia, 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
}*/

body {
   background: linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.9) 10%, rgba(0,0,0,0.9) 90%, rgba(0,0,0,0.8) 100%), url("../img/background.png");

}

.dread, .introFlav, .answer {
   font-style: italic;
}

.introFlav {
   padding-left: 3em;
   padding-right: 3em;
}

.initCap { float: left; font-size: 3.5em; line-height: 60px; padding-top: 0px; padding-right: 8px; padding-left: 3px; font-family: granny; }

.pulls {padding-left: 3em;}

.question {
   font-weight: bold;
}

h1, h2, h3 {
   font-family: granny, serif;
}

a, a:hover {
   color: $dreadRed;
}

a:hover {
   text-decoration: underline;
}

/*#questionTickerBorder {
   width: 100%;
   background-image: linear-gradient(to bottom,rgba(55,15,15,0.3),transparent);
   height: 0.5em;
   top: 3em;
}*/

#questionTickerContainer {
   position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
	background: #fff;
   border-width: 3px 0 0 0;
   border-style: solid;
	border-image-source: linear-gradient(to bottom,rgba(55,15,15,0.3),transparent) 
	ul {
      text-align: center;
		background-color: #f06;
		width: 100%;
		font-style: italic;
	}
}

.legalJazz {
   margin-top: 1em ;
   margin-bottom: 5em;
   padding-top: 20px;
   background-color: #fff;
   div p {
      font-size: 75%;
      line-height: 1.6*.75;
   }
}